<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Стандартный текстовый формат -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%15.15t] %-40.40logger{39} : %m%n%wex"/>
    <property name="CONSOLE_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex"/>

    <!-- Appender для обычного текста (файл) -->
    <appender name="TEXT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Appender для JSON (файл) -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- Консольный вывод (можно выбрать JSON или TEXT через настройки) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL_ROOT:-WARN}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="TEXT_FILE"/>
        <appender-ref ref="JSON_FILE"/>
    </root>

    <logger name="com.example.ppo" level="${LOG_LEVEL_COM_EXAMPLE_PPO:-DEBUG}"/>
</configuration>